/* Your SCSS here. */


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.fade-in-section {
  opacity: 0; /* Start with sections invisible */
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 0.3s;
}

#awards {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #707d65;
}

.carousel {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.slides-container {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}

.slide {
  scroll-snap-align: start;
  flex: 0 0 100%;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev { left: 10px; }
.next { right: 10px; }




section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

#biography {
  background-image: url('../assets/bio_background.jpg');
  background-attachment: fixed;
  background-size: cover;
  padding: 100px 0;
  position: relative;
  z-index: 1;
  color: white;
  .bio-content {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
    margin: auto;

    blockquote {
      font-style: italic;
      margin: 20px 0;
      padding-left: 20px;
      border-left: 4px solid #ccc;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}

#biography p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


// SCSS for the discography section with a multi-column layout
#discography {
  text-align: center;
  margin-bottom: 2rem;
  background-color: #afb1b3;

  h2 {
    margin-bottom: 1rem;
  }

  .album-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
    gap: 30px;
    justify-content: space-around;
    align-items: start;
    margin: 2rem auto;

    .album-item {

      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      .album-cover {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 1 / 1;
      }

      .album-info {
        padding: 15px;
        font-size: 1.1rem;

        h3 {
          font-size: 1.4rem;
        }
      }
    }
  }


  .album-item {
    // ... other styles
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5em;
    cursor: pointer;
  }
}



.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#site-title {
  font-size: 2em;
  font-weight: bold;

}

#navbar {

  ul {
    display: flex;
    gap: 10px;
    list-style: none;
  }

  li a {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    background-color: #555;
    border-radius: 5px;
    transition: background-color 0.3s;


    &:hover {
      background-color: #777;
    }

    &.active {
      background-color: #999;
    }
  }
}


.header-content.small-header {
  padding: 5px 10px;

  #site-title {
    font-size: 1.2em;
  }

  #navbar ul li a {
    padding: 5px 10px;
    font-size: 0.8em;
  }
}
